[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/hugo-saasify-theme"]
	path = themes/hugo-saasify-theme
	url = https://github.com/chaoming/hugo-saasify-theme
